<!-- HTML5 �⺻ CSS ���� -->
html {
	overflow-y:scroll;
	width:100%;
}  
body {
width:100%;height:100%;
	margin: 0 auto;
}  
header,section,article,aside,footer{
	display: block;
}

header {
	float:right;
	width:80%;
	border:1px solid #ccc; 
	/*�𼭸� �ձ���*/
	-moz-border-radius: 12px;
  	-webkit-border-radius: 12px;
    border-radius: 12px;
}

                  
aside{      
	float: left;    
	width: 20%;
	height: 100%;        
	padding:10px;            
	margin-top:15px;          
	min-height: 480px;  
	border:1px solid #ccc; 
	line-height:20px;
	margin-bottom: 15px;
	
	/*�𼭸� �ձ���*/
	-moz-border-radius: 12px; 
  	-webkit-border-radius: 12px;
    border-radius: 12px; 
}      
aside .ad{        
	height:200px;
	margin-bottom:20px;
	background-color:#ebebeb;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}    
section{            
	float: right;                  
	margin-top:15px;   
	padding:10px;  
	padding-bottom: 10px;         
	width: 80%;      
	min-height: 480px;  
	border:1px solid #ccc; 
	line-height:20px;
	
	/*�𼭸� �ձ���*/
	-moz-border-radius: 12px; 
  	-webkit-border-radius: 12px; 
    border-radius: 12px;
}
section h2 {
	font: 14pt Helvetica,"Helvetica neue", Arial, sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	color: #493831;
	padding-bottom: 10px;
	margin: 0;
}
section h3 {
	font: 12pt Helvetica,"Helvetica neue", Arial, sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	color: #493831;
	padding-bottom: 10px;
	margin: 0;
}
footer{           
	clear:both !important;
	width:100%;     
	height: 150px;       
	color:#000000 ;    
	border:1px solid #ccc; 
	  
    
	/*�𼭸� �ձ���*/
	-moz-border-radius: 12px; 
  	-webkit-border-radius: 12px; 
    border-radius: 12px; 
}


img.plus {
	width:60px;
	height:60px;
}

ul.menu{position:absolute; display:none;}
ul.menu li{display:block; background-color:#f5f5f5;}
ul.menu li a{display:block; text-decoration:none;}
.gray { background-color:#DCDCDC; }
a{text-decoration:none; color:black;}

#pf,#bg,#hd{
	display:none;
}

























